.footer-container {
    background-color: var(--background-color);
    color: var(--white-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata';
    font-size: calc(2px + 2vh);
}