.footer-container {
    background-color: var(--primary-color);
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata';
    font-size: calc(2px + 2vh);
}

.footer-text-a {
    color: var(--fifth-color);
    
}

.footer-text-b {
    color: var(--third-color);
}