.item-header-a {
    grid-area: title;
    display: inline-block;
    justify-self: center;
    align-self: center;
    margin: 0 1vw 0 3vw;
    padding: 0 1vw 0 1vw;

    /* border: 2px solid white; */

    font-family: 'Ubuntu';
}

.item-header-b {
    grid-area: icon;
    display: inline-block;
    justify-self: left;
    align-self: center;
    margin: 0 0 0 1vw;
    gap: 10px 10px;
    padding: 0 1vw 0 1vw;

    /* border: 2px solid white; */
}

.item-header-b .header-icon {
    width: calc(40px + 2vmin); 
    height: calc(40px + 2vmin);
}

.item-header-c {
    grid-area: navbar;
    justify-self: center;
    align-self: center;
    display: inline-block;
    margin: 2vh 0 0 0;
    border: 2px solid black;
}

.header-container {
    background-color: var(--background-color);
    min-height: 5vh;
    padding: 1vh 1vw 1vh 1vw;

    display: grid;
    grid-template-columns: 17vw 17vw 22vw 22vw 22vw;
    grid-template-rows: auto;
    gap: 10px 20px;
    grid-template-areas:
        "title icon navbar navbar navbar"
    
}

.header-title {
    font-size: calc(40px + 2vmin);
    color: var(--white-color);
}

.sub-title-a {
    font-size: calc(10px + 2vmin);
    color: var(--secondary-color);
}
.sub-title-b {
    font-size: calc(20px + 2vmin);
    color: var(--red-color);
}


.nav-links { /* holds the ul element */
    display: flex;
    align-items: center; 
    justify-content: space-around;
    list-style: none;
    list-style-type: none;
}

.btn {
    float: left;
    position: relative;
    padding: 12px 20px;

    color: var(--background-color);
    background-color: var(--third-color);

    text-transform: uppercase;
    letter-spacing: 6px;
    text-decoration: none;
    font-size: 2vh;
    overflow: hidden;
    transition: 0.2s;
}

.btn:hover {
    color: var(--red-color);
    font-weight: bold;
    background: var(--primary-color);  
    box-shadow: 
        0 0 20px var(--red-color),
        0 0 80px var(--primary-color),
        0 0 160px var(--primary-color), 
        0 0 320px var(--primary-color);
    transition-delay: .6s;
}

.btn span {
    position: absolute;
    display: block;
}

.btn span:nth-child(1) {
    top: 0;
    transform: translateX(-120%);
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, var(--red-color));
}
.btn:hover span:nth-child(1) {
    transform: translateX(120%);
    transition: 0.4s;
}

.btn span:nth-child(3) {
    bottom: 0;
    transform: translateX(100%);
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, var(--red-color));
}
.btn:hover span:nth-child(3) {
    transform: translateX(-120%);
    transition: 0.4s 0.2s;
}

.btn span:nth-child(2) {
    right: 0;
    transform: translateY(-180%);
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--red-color));
}
.btn:hover span:nth-child(2) {
    transform: translateY(100%);
    transition: 0.4s 0.1s;
}

.btn span:nth-child(4) {
    left: 0;
    transform: translateY(100%);
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--red-color));
}
.btn:hover span:nth-child(4) {
    transform: translateY(-180%);
    transition: 0.4s 0.3s;
}