.home-intro-text {
    text-align: center;
    display: inline-block;
    margin: 15vh 0 2vh 8vw;
    font-family: 'Inconsolata';
    font-weight: 500;
    font-size: calc(3px + 2vmin);
    color: var(--white-color);
}

.home-name-text {
    text-align: left;
    margin: 2vh 8vw 2vh 8vw;
}

.home-name-text-a {
    display: inline;
    font-size: calc(30px + 4vmin);
    font-family: 'Ubuntu';
    color: var(--white-color);
}

.home-name-text-b {
    display: inline;
    margin-left: 10px;
    font-size: calc(10px + 2vmin);
    font-family: 'Ubuntu';
    color: var(--background-color);
}

.home-description-text {
    margin: 2vh 8vw 2vh 8vw;
    font-size: calc(28px + 2vmin);
    font-family: 'Ubuntu';
    width: 60%;
    color: var(--off-white-color);
}

.home-paragraph-text {
    margin: 4vh 8vw 40vh 8vw;
    font-size: calc(3px + 2vmin);
    font-family: 'Ubuntu';
    color: var(--navy-color);
}

.home-paragraph-text a {
    text-decoration: none;
    color: var(--navy-color);
}

.home-paragraph-text a:hover {
    text-decoration: none;
    color: var(--off-white-color);
}

.home-aboutme-container {
    
}


.home-skills-list-section {
    margin: 25vh 2vw 16vh 2vw;
    /* padding:  */

    border: 1px solid blue;
}

.home-skills-list-text {
    border: 1px solid white;

    color: var(--off-white-color);
    margin: 0 0 1vh 0;
    font-size: calc(2px + 2vmin);
    font-family: 'Ubuntu';
}

.home-skills-container {
    border: 1px solid white;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 10px;
}

.home-skills-text {
    border: 1px solid black;    
}

.skill-container {
    border: 1px solid violet;
}


