/* Beginning Section */

.home-intro-text {
    text-align: center;
    display: inline-block;
    margin: 5vmin 0 2vh 8vw;
    font-family: 'Inconsolata';
    font-weight: 500;
    font-size: calc(3px + 2vmin);
    color: var(--fifth-color);
}

.home-name-text {
    text-align: left;
    margin: 2vh 8vw 2vh 8vw;
}

.home-name-text-a {
    font-size: calc(35px + 4vmin);
    font-family: 'Ubuntu';
    color: var(--fifth-color);
}

.home-name-text-b {
    margin-left: 1vw;
    font-size: calc(8px + 2vmin);
    font-family: 'Ubuntu';
    color: var(--fourth-color);
}

.home-description-text {
    margin: 2vh 8vw 2vh 8vw;
    font-size: calc(28px + 2vmin);
    font-family: 'Ubuntu';
    width: 60%;
    color: var(--yellow-color);
}

.home-paragraph-text {
    margin: 4vh 8vw 40vh 8vw;
    font-size: calc(3px + 2vmin);
    font-family: 'Ubuntu';
    color: var(--fourth-color);
}

.home-paragraph-text a {
    text-decoration: none;
    color: var(--yellow-color);
}

.home-paragraph-text a:hover {
    text-decoration: none;
    color: var(--yellow-color);
}

/* About Me Section */

.home-aboutme-container {
    margin: 0 10vw 20vmin 6vw;
    /* border: 1px solid white; */
    padding: 2vmin;
}

.home-aboutme-title {
    font-family: 'Ubuntu';
    font-size: calc(8px + 2vmin);
    color: var(--fifth-color);
    line-height: 0;
}

.home-aboutme-title span {
    display: inline-block;
    position: relative;
}

.home-aboutme-title span::after {
    content: "";
    position: absolute;
    height: 3px;
    border-top: 1px solid white;
    top: 0;
    margin-left: 3vmin;
    width: 70vmin;
}

.home-aboutme-text {
    margin: 2vmin 2vmin 0 2vmin;
    /* border: 1px solid black; */
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: calc(2px + 2vmin);
    color: var(--fourth-color);
}

.home-aboutme-text a {
    text-decoration: none;
    color: var(--yellow-color);
}

/* Skills List Section */

.home-skills-list-container {
    margin: 30vmin 2vw 30vh 2vw;
    margin: 0 10vw 8vh 6vw;
    padding: 2vmin;
    /* border: 1px solid green; */
}

.home-skills-list-text {
    font-family: 'Ubuntu';
    font-size: calc(8px + 2vmin);
    color: var(--fifth-color);
    line-height: 0;
}

.home-skills-list-text span {
    display: inline-block;
    position: relative;
}

.home-skills-list-text span::after {
    content: "";
    position: absolute;
    height: 3px;
    border-top: 1px solid white;
    top: 0;
    margin-left: 3vmin;
    width: 70vmin;
}

.home-skills-container {
    /* border: 1px solid teal; */
    margin: 3vmin 2vmin 0 2vmin;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 2vmin 3vmin;

    color: var(--yellow-color);
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    font-size: calc(12px + 1vmin);
}

.home-skills-container ul {
    position: relative;
	list-style: none;
	margin-left: 1vmin;
	padding-left: 2vmin;
}

.home-skills-container ul li:before {
	content: "-";
	position: absolute;
	left: 0;
}

.skill-container {
    /* border: 1px solid violet; */
    color: var(--fourth-color);
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: calc(8px + 1vmin);
}

