/*     HOME     */

.item-home-a {
    grid-area: home;
    justify-self: stretch; 
}

.item-home-b {
    grid-area: border_l;
    border-right: 1px solid var(--fourth-color);
    margin: 0 1vw 10vh 1vw;
    padding-right: 2vw;

    /* border: 1px solid green; */
}

.item-home-c {
    grid-area: border_r;
    border-left: 1px solid var(--third-color);
    margin: 0 1vw 10vh 1vw;
    padding-left: 2vw;
}

.home-container {
    /* height: 100vh; */
    padding: 10vmin 0 10vmin 0;

    display: grid;
    grid-template-columns: 10vw 10vw 60vw 10vw 10vw;
    grid-template-rows: auto;
    grid-template-areas:
        ". border_l home border_r .";
    
    background-color: var(--secondary-color);
}


/*     Projects     */

.item-projects-a {
    grid-area: test1;
    border: 1px solid black;
    justify-self: stretch; 
}

.item-projects-b {
    grid-area: test2;
    border: 1px solid black;
    justify-self: stretch; 
}

.item-projects-c {
    grid-area: test3;
    border: 1px solid black;
    justify-self: stretch; 
}

.projects-container {
    border: 1px solid black;
    height: 85vh;

    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: auto;
    grid-template-areas:
        "test1 test2 . . ."
        ". test3 test3 test3 .";
}


/*     Hobbies     */

.item-hobbies-a {
    grid-area: test1;
    border: 1px solid black;
    justify-self: stretch; 
}

.item-hobbies-b {
    grid-area: test2;
    border: 1px solid black;
    justify-self: stretch; 
}

.item-hobbies-c {
    grid-area: test3;
    border: 1px solid black;
    justify-self: stretch; 
}

.hobbies-container {
    border: 1px solid black;
    height: 85vh;

    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: auto;
    grid-template-areas:
        "test1 test2 . . ."
        ". test3 test3 test3 .";
}


/*     Contact     */

.item-contact-a {
    grid-area: contact;
    justify-self: stretch; 
    margin: 2vh 8vw 2vh 8vw;

    border: 1px solid grey;
}

.item-contact-b {
    grid-area: border_l;
    border-right: 1px solid var(--fourth-color);
    margin: 0 1vw 0 1vw;
    padding-right: 2vw;
}

.item-contact-c {
    grid-area: border_r;
    border-left: 1px solid var(--third-color);
    margin: 0 1vw 0 1vw;
    padding-left: 2vw;
}

.contact-container {
    height: 80vh;
    background-color: var(--secondary-color);
    color: var(--fifth-color);
    padding: 10vmin 0 10vmin 0;

    display: grid;
    grid-template-columns: 10vw 10vw 60vw 10vw 10vw;
    grid-template-rows: auto;
    grid-template-areas:
        ". border_l contact border_r .";
}

/*     Resume     */

.resume-container {
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 0 0 6vmin 0;

    border: 1px solid brown;
}