.resume-download {
    display: inline-flex;
    margin: 4vmin 0 0 20vw;
}

.resume-download a {
    text-decoration: none;
    font-size: calc(8px + 1vmin);
    font-family: 'Ubuntu';
    padding: 1vmin 2vmin;
    border: 2px solid var(--primary-color);
    border-radius: 2vmin;
    background-color: var(--fifth-color);
    color: var(--primary-color);
}

.resume-download a:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.resume-pdf-container {
    margin: 4vh 19vw 10vh 19vw;
    padding: 0 0 10vh 0;
}

.resume-pdf {
    height: 1200px;
    width: 100%;
}