* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  --primary-color: #fafbfd;
  --secondary-color: #919ca8;
  --third-color: #dfdfdf;
  --background-color: #232323;

  --red-color: #DE1A1A;
  --grey-color: #565656;
  --white-color: #FDFDFF;
  --off-white-color: #fbe8d3;
  --yellow-color: #FFBA08;

}

/* https://coolors.co/de1a1a-54494b-fdfdff-ffba08-43aa8b */


